html {
    font-size: 25px;
    color: black;
    background-color: #FFEBDD;
    text-align: center;
    font-family: 'Suranna', serif;
  }

  h4 {
      text-align: justify;
  }

nav {
    background-color: #FFEBDD;
    height: 59px;
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
    left: 0px;
}

ul  a {
    height: 100%;
    display: table;
    float: left;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    margin-top: -20px;
}

ul  a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #7c7068;
}


main img {
    width: 40%;
    max-width: 400px;
    margin-top: 90px;
}

section {
    margin: auto;
    width: 80%;
    max-width: 800px;
}

.title {
    width: 50%;
}

.track_img img {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: solid 20px white;
    box-shadow: 2px 2px 5px rgb(73, 71, 71);
}

figcaption{
    font-size: 15px;
    color: black;
    font-style: italic;
    text-align: center;
    margin-top: -15px;
}

section p {
    text-align: justify;
    line-height: 1.6;
    text-indent: 40px;
}

.border {
    border: solid 20px white;
    box-shadow: 2px 2px 5px rgb(73, 71, 71);
}

.noIndent {
    text-indent: 0px;
}

a {
    color: black;
}

.footer{
    background-image: url('img/footprint.jpg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
    margin: 20px 0px;
}